body {
    background-color: #052021;
    color: white
}

.lighter {
    opacity: 50%;
}


.back-button {
    text-align: left;
    margin-top: 2rem;
    margin-left: 2rem;
    color: white
}

.play-circle {
    text-align: right;
    margin-top: 2rem;
    margin-right: 2rem;
    color: white
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    display: inline;
    text-align: center;
    color: white
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}